.home-info_container__cards {
  font-style: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
}