.add-teacher {
  font-family: inherit;
  position: fixed;
  width: 100%;
  height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.25);

  font-family: inherit;
}

.add-teacher_container {
  width: 40%;
	margin: 0 auto;
	background-color: var(--secondary-color);
	border-radius: var(--border-radius);
  padding: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
	box-shadow: 0 15px 30px 0 rgba(#000, 0.25);
}

.add-teacher_container__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-teacher_close {
  height: 50%;
  font-family: inherit;
  padding: 7px 9px;
  background-color: #EF0107;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: var(--border-radius);
  color: var(--secondary-color);
  cursor: pointer;
}