.top-bar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--secondary-color);
  height: 80px;
  padding: 0 20px;
  overflow: hidden;
}

.top-bar_container__controls {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--text-color);
}