.top-bar-add-button_container {
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: var(--border-radius);
}

.top-bar-add-button_container:hover {
  background-color: var(--primary-color-hover);
}